.breadcrumbs {
    display: flex;
    align-items: center;
    list-style: none;
}

.breadcrumbs__item {
    position: relative;
    padding-right: 26px;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
}

.breadcrumbs__item:not(:first-child) {
    padding-left: 14px;
}

.breadcrumbs__item:not(:last-child):after {
    content: "";
    position: absolute;
    top: 50%;
    right: 0;
    display: block;
    width: 14px;
    height: 8px;
    background: url("") no-repeat 50% 50%;
    background-size: cover;
    transform: translateY(-50%) rotate(180deg);
}

.breadcrumbs__home {
    display: block;
    width: 16px;
    height: 16px;
    background: url("") no-repeat 50% 50%;
    background-size: cover;
}